*{
    margin: 0;
    padding: 0;
}

body {
    background: url('./img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}


.login-container{
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adding box shadow */
    border-radius: 10px; 
    text-align: center;
    padding: 20px;
    background-color: white;
}

.login-logo{
    width: 40%;
    margin-bottom: 4%;
}

.login-form{
    text-align: left;
    margin: 8% 10%;
}

.login-form input{
    background-color: #f0f3f5;
}

.login-btn{
    width: 100%;
    background-color: #37306B;
}

.login-btn:hover{
    background-color: #473e88;
}

.login-options{
    margin: 4% 10%;
}

.login-option{
    width: 100%;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #37306B;
    margin-bottom: 5%;
    padding-bottom: 0;
}

.login-option:hover{
    background-color: #37306B;
    color: #f0f3f5;
}

.signup-here{
    margin-top: 10%;
}

.signup-here a{
    color: #37306B;
}
